[Unit]
Description=Provision VMs
After=network.target

[Service]
Type=simple
User=root
EnvironmentFile=/etc/sysconfig/provision.env
ExecStart=/opt/provision.sh $NAME $STAGE

[Install]
WantedBy=multi-user.target
