[Unit]
Description=Run generator script every 30 seconds

[Timer]
OnBootSec=30
OnUnitActiveSec=30
Unit=generator.service

[Install]
WantedBy=multi-user.target
