[Unit]
Description=Log generator for Lesson 08
After=network.target

[Service]
Type=simple
ExecStart=/opt/generator.sh
Restart=always
User=vagrant

[Install]
WantedBy=multi-user.target
