<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>{{ ansible_distribution }}</title>
    </head>
    <body>
        <h2>OTUS. Linux</h2>
        <hr />
        <h3>Jinja2</h3>

        <table>
            <tbody>
                <tr>
                    <td>OS Family</td>
                    <td>{{ ansible_os_family }}</td>
                </tr>
                <tr>
                    <td>Distribution</td>
                    <td>{{ ansible_distribution }}</td>
                </tr>
                <tr>
                    <td>Host</td>
                    <td>{{ ansible_host }}</td>
                </tr>
                <tr>
                    <td>http port</td>
                    <td>{{ listen_port_http }}</td>
                </tr>
            </tbody>
        </table>
        
    </body>
</html>
