<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="utf-8" />
        <title>{{ ansible_os_family }}</title>
    </head>
    <body>
<------><h2>OTUS. Linux</h2>
        <hr />

<------><h3>Jinja2</h3>
        <div> {{ ansible_os_family }} </div>
        <div> {{ ansible_host }} </div>
    </body>
</html>
